<a href="https://colab.research.google.com/github/subuiyer411/nbme/blob/main/NBME_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
features_df = pd.read_csv('features.csv')
sample_submission_df = pd.read_csv('sample_submission.csv')
patient_notes_df = pd.read_csv('patient_notes.csv')

In [5]:
train_df.head()

          id  ...              location
0  00016_000  ...           ['696 724']
1  00016_001  ...           ['668 693']
2  00016_002  ...           ['203 217']
3  00016_003  ...  ['70 91', '176 183']
4  00016_004  ...           ['222 258']

[5 rows x 6 columns]

In [6]:
features_df.head()

   feature_num  case_num                                       feature_text
0            0         0  Family-history-of-MI-OR-Family-history-of-myoc...
1            1         0                 Family-history-of-thyroid-disorder
2            2         0                                     Chest-pressure
3            3         0                              Intermittent-symptoms
4            4         0                                        Lightheaded

In [7]:
patient_notes_df.head()

   pn_num  case_num                                         pn_history
0       0         0  17-year-old male, has come to the student heal...
1       1         0  17 yo male with recurrent palpitations for the...
2       2         0  Dillon Cleveland is a 17 y.o. male patient wit...
3       3         0  a 17 yo m c/o palpitation started 3 mos ago; \...
4       4         0  17yo male with no pmh here for evaluation of p...

# New Section